body {
  margin: 0;
  padding: 0;
  font-family: 'Muli' !important;
  top:0 !important;
  font-size: 16px;
  font-weight: 400;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  margin: 0;
  padding: 0;
  list-style: none; }
h3 {
  margin: 0;
  padding: 0;
  list-style: none; }

h4 {
  margin: 0;
  padding: 0;
  list-style: none; }

h5 {
  margin: 0;
  padding: 0;
  list-style: none; }

h6 {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0;
  padding: 0;
  list-style: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none !important;
  text-decoration: none !important; 
}

input {
  outline: none !important; 
}

button {
  outline: none !important; 
}
img{
  max-width: 100%;
  height: auto;
}
.sp{
  padding-top: 110px;
  padding-bottom: 110px;
}
h1{
  font-size: 30px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.43px;
  color: #101820;
  margin-bottom: 17.6px;
  text-transform: uppercase;
}
h1 span{
  color: #00c1d5;
}

.bg_white{
  background-color: white;
}
/* Features Css  */
.features_section {
	background-color: #005680;
}
.features_section .title h2{
  color: #FFF;
}
.features_section .title p{
  color: #FFF;
}
.flip-card {
	background-color: transparent;
	width: 100%;
	height: 214px;
	perspective: 1000px;
	margin-bottom: 30px;
}
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.9s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background: #FFF;
	box-shadow: 0 0 5px #DDD;
	padding: 15px;
}
.flip-card-front {
  color: black;
}
.flip-card-back {
	background-color: #801bab;
	color: white;
	transform: rotateY(180deg);
}
.flip-card-front img {
	height: 110px;
}
.flip-card-front p {
	font-size: 20px;
}
.flip-card-back p {
	font-size: 18px;
	padding: 25px;
}
.title{
  padding-bottom: 60px;
  font-size: 50px;
}